.headerText {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5vw;
  & p:hover {
    color: #ffd959;
    cursor: pointer;
  }
  text-decoration: none;
}
.headerText:nth-child(1n):hover {
  color: rgba(255, 255, 255, 0.432);
}
.hamburgerInner:hover {
  text-decoration: none;
  span,
  span::before,
  span::after {
    background-color: #ffd959;
  }
}

.upHeader {
  border-bottom: 1px solid #fff;

  margin: 0;
  background-image: url(/images/bgDefault.svg);
  font-size: 0.9em;
  padding-left: 10%;
  padding-right: 10%;
  gap: 2%;
  display: flex;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .hidden {
    display: none;
  }
}
