.headerText {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5vw;
  & p:hover {
    color: #ffd959;
    cursor: pointer;
  }
  text-decoration: none;
}
.headerText:nth-child(1n):hover {
  color: rgba(255, 255, 255, 0.432);
}
.hamburgerInner:hover {
  text-decoration: none;
  span,
  span::before,
  span::after {
    background-color: #ffd959;
  }
}
