.divWrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
  margin-top: 5vh;
  word-break: break-all;
}

.imgs {
  animation: animateImgs 3s infinite;
}
@keyframes animateImgs {
  0% {
    transform: skewY(5deg);
  }
  50% {
    transform: skewY(-5deg);
  }
  100% {
    transform: skewY(5deg);
  }
}
